{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
    <h1>Books</h1>
    {% for book in books %}
        <div>
            <h2>{{ book.title }}</h2>
            <p>Author: {{ book.author }}</p>
            <p>ISBN: {{ book.isbn }}</p>
            <p>Category: {{ book.category.name }}</p>
        </div>
    {% else %}
        <p>No books found.</p>
    {% endfor %}
{% endblock %}
